@using EcommerceWebsite.Models
@model List<Products>
@{
    ViewData["Title"] = "Cart";
}

<h1>Shopping Cart</h1>

<br />
<div class="row">
    <table class="table table-bordered">
        <thead>
            <tr>
                <th>Image</th>
                <th>Name</th>
                <th>Price</th>
                <th>Product Type</th>
                <th>Colour</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        <img src="~/@item.Image" width="200" height="150" />
                    </td>
                    <td>@item.Name</td>
                    <td>@item.Price</td>
                    <td>@item.ProductTypes.ProductType</td>
                    <td style="background:@item.ProductColour content-box; box-shadow: inset 0 0 0 10px white, inset 0 0 0 12px black"></td>
                    <td>
                        <a asp-area="Customer" asp-action="Remove" asp-controller="Home" asp-route-id="@item.Id" class="btn btn-danger">
                            <i class="fa-solid fa-trash-can"></i>
                        </a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
<div class="row">
    <div class="col-6">
        <a asp-action="Index" asp-controller="Home" class="btn btn-info">Back to Home</a>
    </div>
    <div class="col-6 text-right">
        <h6>Total Amount</h6>
        <hr class="border-top border-secondary" style="width:200px; margin-right :0;">
        <h6>Order Total: $@Model.Sum(c => c.Price)</h6>
        <a asp-area="Customer"asp-action="Checkout" asp-controller="Order" class="btn btn-success">Proceed to Checkout</a>
    </div>
</div>